@import "../../scss/variables";

.cell {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;

  &--white {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  &--black {

  }

  &--valid_move {
    background-color: #ff33cc;
  }

  &--selected {
    color: $unit-highlight;
    transition: $selection-animation-speed;
    text-shadow: none;
  }
}
