@import "variables";
@import "properties";

.App {
//  display: flex;
//  justify-content: center;
//  align-items: center;
  height: 100vh;
  background-color: #272522;
}

.board {

}

.row {
  display: flex;
}

.background_cell {
  width: $cell-size;
  height: $cell-size;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: $selection-animation-speed;

  &--move {
    background-color: $cell-highlight !important;
    cursor: pointer;
  }

  &__land {
    &--light {
      background-color: $land-primary;
    }

    &--dark {
      background-color: $land-secondary;
    }
  }

  &__water {
    &--light {
      background-color: $water-primary;
    }

    &--dark {
      background-color: $water-secondary;
    }
  }

}

.trap {
  cursor: default;

  &--white {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.unit {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &--black {
  }

  &--white {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  &--selected {
    color: $unit-highlight;
    transition: $selection-animation-speed;
    text-shadow: none;
  }

  &--invalid {
    cursor: default;
  }

  &--den {
    cursor: default;
  }

  &--mouse {

  }

  &--cat {

  }

  &--dog {

  }

  &--wolf {

  }

  &--leopard {

  }

  &--tiger {

  }

  &--lion {

  }

  &--elephant {

  }

}
