@import "./variables";
@import "./utils";

@mixin selection_group {
  padding: toRem(20) toRem(40) toRem(20) toRem(20);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
