$land-primary: #779556;
$land-secondary: #ebecd0;

$water-primary: #016599;
$water-secondary: #9cf;

$unit-highlight: rgb(255, 102, 0);

$cell-highlight: #ff33cc;

$color-primary: #6610f2;
$color-secondary: #c29ffa;
$color-light: white;

$selection-animation-speed: 250ms;

$highlight-color-shift: 10%;

$base-font-size: 16;
