@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/globals";

.toggle_button {
  height: toRem(30);
  border: none;
  border-radius: $border-radius-sm;
  color: $color-light;
  font-weight: bold;
  padding: toRem(5) toRem(10);
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;
  transition: $selection-animation-speed;

  &--on {
    background-color: $color-success;
  }

  &--off {
    background-color: $color-danger;
  }

  &:hover {
    outline: 2px solid $color-light;
  }
}
