@import "../../scss/variables";

.game_over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-darkgray;
  opacity: 0.8;
  color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
}
