@import "../../scss/variables";
@import "../../scss/utils";


.model_form {
  padding: toRem(20) 0;
  display: flex;

  > * {
    padding: toRem(5) toRem(10);
    margin: 0 toRem(10);
    border-radius: toRem(7);
  }

  &__name {
    &--label {
      display: none;
    }

    &--select {

    }

    &--option {

    }
  }

  &__version {
    &--label {
      display: none;

    }

    &--select {

    }


  }

  &__button {
    background-color: $color-primary;
    font-weight: bold;
    color: $color-light;
    border: none;
  }

  &__button:hover {
    background-color: lighten($color-primary, $highlight-color-shift);
    transition: $selection-animation-speed;
  }
}
