@import "../../scss/variables";
@import "../../scss/mixins";

.Home {
  display: flex;
  height: 100vh;
  background-color: #272522;
}

.BoardColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%
}

.NavigationColumn {
  display: flex;
  width: 30%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__footer {
    @include selection_group;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
  }

  &__header {
    @include selection_group;
    justify-content: center;
    flex-direction: column;
    color: $color-light;
    position: absolute;
    top: 5%;
  }

}
